

.wrapper {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 3vw;
  grid-template-areas: 
    "header"
    "sidebar"
    "banner"
    "menu"
    "carousel"
    "reviews";
}

.header {
  grid-area: header;
  grid-column: 1 / span 2;
  
}

.grub-bar {
  max-height: 100%;
  max-width: 100%;
  z-index: 1000;
}

.aside-bar {
  grid-area: sidebar;
  grid-column: 2;
  width: 100%;
  z-index: 1000;
  /* box-shadow: -5px 0px 5px -5px #aaaaaa */

}

.aside {
  position: absolute;
  width: 23.5%

}

.top-body {
  grid-area: banner;
}

.body {
  grid-area: menu;
}

.lower-body {
  grid-area: carousel;
  background-color: #efefef;

}

.foot {
  grid-area: reviews;
  background-color: #efefef;

}


button {
  visibility: hidden;
}

.priceTag1 {
  width: 235px !important;
  height: 90px !important;
  left: 426px !important;
  top: 283px !important;

}

.price {
  right: 7px !important;
  top: 6px !important;
  background-color: #faebd7b8 !important;
  border-radius: 10% !important;
}

.contactview {
  margin-left: 150px !important;
}

.md {
  height: 201px !important;
}

